@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 500px;
    background-image: url('../img/bg.png');
    background-size: cover;
}

.navbar {
    width: 100%;
    height: 60px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding-left: 10%;
    background-color: white;
}

.navbar p {
    font-size: 25px;
    font-family: 'Lobster', cursive;
}

.nav-link {
    display: flex;
    width: 300px;
    justify-content: space-between;
    position: absolute;
    right: 10%;
}

.nav-link a {
    text-decoration: none;
    color: black;
    font-weight: 100;
}

.nav-link a:hover {
    color: #dfe6e9;
}

.text-hero {
    position: absolute;
    left: 10%;
    top: 150px;
    line-height: 0;
}

.text-hero p:first-child {
    font-size: 18px;
    line-height: 50px;
}

.text-hero p:nth-child(2) {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin: 0;
    font-weight: 100;
}

.text-hero p:nth-child(3) {
    font-size: 30px;
    line-height: normal;

}

.btn-here {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 12px;
}

.btn-download {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #2f3648;
    border: none;
    font-size: 12px;
    color: white;
}

.model {
    position: absolute;
    left: 50%;
    top: 100px;
    height: 450px;
}

.about {
    width: 80%;
    background-color: white;
    margin: -3% auto 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 200px 10px 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.about img {
    height: 250px;
    margin: 30px;
}

.text-about p:first-child {
    font-size: 24px;
    font-weight: 500;
    line-height: 10px;
}

.text-hero p:nth-child(2),
.text-hero p:nth-child(3) {
    font-size: 14px;
    font-weight: 300;
}

.btn-about-here {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    margin-right: 10px;
    font-size: 12px;
}

.btn-about-download {
    width: 100px;
    height: 30px;
    background-color: #2f3648;
    border: none;
    color: white;
    margin-right: 10px;
    font-size: 12px;
}

.text-skill {
    margin-left: 12%;
    margin-top: 50px;
    line-height: 0px;
    width: 600px;
}

.text-skill p:first-child {
    font-size: 48px;
    line-height: 0px;
    font-weight: 700;
}

.text-skill p:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
}

.text-skill p:nth-child(3) {
    font-size: 18px;
    font-weight: 100;
    line-height: normal;
}

.card-skill {
    display: flex;
    width: 78%;
    margin: 50px auto;
    justify-content: space-between;
}

.skill-1,
.skill-2,
.skill-3 {
    width: 250px;
    height: 320px;
    background-color: #2f3640;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.skill-1 div,
.skill-2 div,
.skill-3 div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
}

.skill-1 p:first-of-type,
.skill-2 p:first-of-type,
.skill-3 p:first-of-type {
    font-size: 20px;
    color: white;
    font-weight: normal;
    margin: 0;
    margin-top: 10px;
}

.skill-1 p:nth-last-child(2),
.skill-2 p:nth-last-child(2),
.skill-3 p:nth-last-child(2) {
    font-size: 12px;
    color: white;
    font-weight: normal;
    line-height: 20px;
}

.skill-1 button,
.skill-2 button,
.skill-3 button {
    width: 90px;
    height: 28px;
    border-radius: 10px;
    background-color: white;
    border: none;
    font-size: 12px;
}

.contact {
    width: 100%;
    height: 250px;
    background-color: #2f3540;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact p {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 0px;
}

.garis {
    width: 400px;
    height: 5px;
    border-bottom: 2px solid white;
    margin-bottom: 15px;
}

.contact button {
    width: 100px;
    height: 30px;
    font-size: 12px;
    border: 1px solid black;
}

.footer {
    width: 100%;
    height: 300px;
    background-color: #dfe6e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p:first-child {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.footer p:nth-last-child(2) {
    width: 720px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
}

.list-icon{
    display: flex;
    width: 250px;
    justify-content:space-evenly;
}
.list-icon div{
    width: 40px;
    height: 40px;
    background-color: #b2bec3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}